<!DOCTYPE html>
<html>
<head>
    <title>Alert</title>
    <script>
        window.onload = function() {
            alert('<%= message %>');
            window.location.href = '/fr';
        };
    </script>
</head>
<body>
</body>
</html>
