<%- include('header'); -%>

<div class="homepage" style="max-width: fit-content;margin-left: auto; margin-right: auto; text-align: center;">
    <h1 style="font-family: 'Ubuntu', sans-serif; text-align: center;">Speed Dating en direct</h1>
    <p style="max-width: fit-content;margin-left: auto; margin-right: auto; text-align: center;">Découvrez le frisson du Speed Dating en direct avec Meetic !
        Connectez-vous avec d'autres célibataires depuis le confort de votre foyer à travers une série de courtes discussions vidéo chronométrées.<br>
        Si un intérêt mutuel se manifeste, Meetic vous aidera à rester en contact.<br>
        Découvrez une façon amusante et excitante de rencontrer des partenaires potentiels avec le Speed Dating en direct par Meetic !</p>
    <a class="waves-effect waves-light btn modal-trigger button-purple" href="#modal1"><i class="material-icons right">favorite</i>Rejoignez l'expérience!</a>
    <br>
    <br>
   <img style="width: auto; height: fit-content;"src="/images/Designer.jpeg" alt="Speed Date Image">
</div>
<div class="modal" id="modal1">
    <%- include('form'); -%>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElems = document.querySelectorAll('select');
        M.FormSelect.init(selectElems);
   
        var modalElems = document.querySelectorAll('.modal');
        M.Modal.init(modalElems);

    });

   
  </script>

<%- include('footer'); -%>