<%- include('header'); -%>

<div style="max-width: fit-content;margin-left: auto; margin-right: auto; text-align: center;">
    <h1 style="font-family: 'Ubuntu', sans-serif; text-align: center;">Live Speed Dating App</h1>
    <p style="max-width: fit-content;margin-left: auto; margin-right: auto; text-align: center;">Experience the thrill of Live Speed Dating by Meetic!
         Connect with other singles from the comfort of your home through a series of short, timed video chats.<br>
         If there's mutual interest, Meetic will help you stay connected.<br>
          Discover a fun and exciting way to meet potential matches with Live Speed Dating by Meetic !</p>
    <a  class="waves-effect waves-light btn modal-trigger button-purple" href="#modal1"><i class="material-icons right">favorite</i>Join the experience !</a>
    <br>
   <img style="width: auto; height: fit-content;"src="/images/Designer.jpeg" alt="Speed Date Image">
</div>
<div class="modal" id="modal1">
    <%- include('form'); -%>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElems = document.querySelectorAll('select');
        M.FormSelect.init(selectElems);
   
        var modalElems = document.querySelectorAll('.modal');
        M.Modal.init(modalElems);

    });

   
  </script>
<%- include('footer'); -%>