<%- include('header'); -%>

<div style="max-width: fit-content;margin-left: auto; margin-right: auto; text-align: center;">
    <h1 style="font-family: 'Ubuntu', sans-serif; text-align: center;">Live Speed Dating App</h1>
    <p style="max-width: fit-content;margin-left: auto; margin-right: auto; text-align: center;">Experience the thrill of Live Speed Dating by Meetic!
         Connect with other singles from the comfort of your home through a series of short, timed video chats.<br>
         If there's mutual interest, Meetic will help you stay connected.<br>
          Discover a fun and exciting way to meet potential matches with Live Speed Dating by Meetic !</p>
    <a style=" background-color: #F12A7C; max-width: fit-content;" class="waves-effect waves-light btn" href="/speed-dating"><i class="material-icons right">favorite</i>Join the experience !</a>
    <br>
   <img style="width: auto; height: fit-content;"src="https://designerapp.officeapps.live.com/designerapp/document.ashx?path=/929398bf-6631-4904-947e-b976f5d1bdf0/DallEGeneratedImages/dalle-7df1584b-b51c-4733-9d90-a27770e08ada0251683065199606371900.jpg&dcHint=FranceCentral&fileToken=c3c840dd-065a-429d-951e-9e88c6f6868a" alt="Speed Date Image">
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <p></p>
    </div>

</div>
<%- include('footer'); -%>